In [1]:
from sqlalchemy.orm import sessionmaker
from modelis_m2m import engine, Tevas, Vaikas
from pprint import pprint

session = sessionmaker(engine)()

In [2]:
tevas  =Tevas(vardas = "Sergejus", pavarde = "Bykovas")
mama = Tevas(vardas = "Julija", pavarde = "Bykova")
dukra = Vaikas (vardas = "Arina", pavarde = "Bykova")
sunus = Vaikas(vardas = "Daniil", pavarde = "Bykov")
katinas = Vaikas(vardas = "Boss", pavarde = "Devon_Rex")

tevas.vaikai.append(dukra)
mama.vaikai.append(dukra)
tevas.vaikai.append(sunus)

session.add(tevas)
session.add(mama)
session.commit()

In [3]:
session.add(katinas)
session.commit()

In [4]:
tevai = session.query(Tevas).all()
pprint(tevai)
vaikai = session.query(Vaikas).all()
pprint(vaikai)

[(1, Sergejus, Bykovas),
 (2, Julija, Bykova),
 (3, Sergejus, Bykovas),
 (4, Julija, Bykova)]
[(1, Arina, Bykova),
 (2, Daniil, Bykov),
 (3, Boss, Devon_Rex),
 (4, Arina, Bykova),
 (5, Daniil, Bykov),
 (6, Boss, Devon_Rex)]

In [9]:
for tevas in tevai:
    print(tevas)
    for vaikas in tevas.vaikai:
        print("+", vaikas)

(1, Sergejus, Bykovas)
+ (1, Arina, Bykova)
+ (2, Daniil, Bykov)
(2, Julija, Bykova)
+ (1, Arina, Bykova)

In [10]:
for vaikas in vaikai:
    print(vaikas)
    for tevas in vaikas.tevai:
        print("-", tevas)

(1, Arina, Bykova)
- (1, Sergejus, Bykovas)
- (2, Julija, Bykova)
(2, Daniil, Bykov)
- (1, Sergejus, Bykovas)
(3, Boss, Devon_Rex)

In [19]:
tevai = session.query(Tevas).all()
pprint(tevai)
vaikai = session.query(Vaikas).all()
pprint(vaikai)
# sarasas su id indeksaias

[(1, Sergejus, Bykovas), (2, Julija, Bykova)]
[(1, Arina, Bykova), (2, Daniil, Bykov), (3, Boss, Devon_Rex)]

In [4]:
tevas=session.query(Tevas).get(1)
mama = session.query(Tevas).get(2)
dukra = session.query(Vaikas).get(1)
sunus = session.query(Vaikas).get(2)
katinas = session.query(Vaikas).get(3)
# priskiriame indeksa is saraso

In [10]:
sunus.tevai.append(tevas)
sunus.tevai.append(mama)
katinas.tevai.append(tevas)
katinas.tevai.append(mama)
session.commit()

In [11]:
tevai = session.query(Tevas).all()
pprint(tevai)
vaikai = session.query(Vaikas).all()
pprint(vaikai)

[(1, Sergejus, Bykovas), (2, Julija, Bykova)]
[(1, Arina, Bykova), (2, Daniil, Bykov), (3, Boss, Devon_Rex)]

In [16]:
for tevas in tevai:
    print(tevas, "tevas turi vaikus: ")
    for vaikas in tevas.vaikai:
        print("+", vaikas)

(1, Sergejus, Bykovas) tevas turi vaikus:
+ (1, Arina, Bykova)
+ (2, Daniil, Bykov)
+ (3, Boss, Devon_Rex)
(2, Julija, Bykova) tevas turi vaikus:
+ (1, Arina, Bykova)
+ (3, Boss, Devon_Rex)
+ (2, Daniil, Bykov)

In [15]:
for vaikas in vaikai:
    print(vaikas, "vaikas turi tevus: ")
    for tevas in vaikas.tevai:
        print("-", tevas)

(1, Arina, Bykova) vaikas turi tevus:
- (1, Sergejus, Bykovas)
- (2, Julija, Bykova)
(2, Daniil, Bykov) vaikas turi tevus:
- (1, Sergejus, Bykovas)
- (2, Julija, Bykova)
(3, Boss, Devon_Rex) vaikas turi tevus:
- (1, Sergejus, Bykovas)
- (2, Julija, Bykova)

In [17]:
mama.vaikai.remove(katinas)

In [18]:
for vaikas in vaikai:
    print(vaikas, "vaikas turi tevus: ")
    for tevas in vaikas.tevai:
        print("-", tevas)

(1, Arina, Bykova) vaikas turi tevus:
- (1, Sergejus, Bykovas)
- (2, Julija, Bykova)
(2, Daniil, Bykov) vaikas turi tevus:
- (1, Sergejus, Bykovas)
- (2, Julija, Bykova)
(3, Boss, Devon_Rex) vaikas turi tevus:
- (1, Sergejus, Bykovas)

In [ ]:
session.commit()