In [1]:
from sqlalchemy.orm import sessionmaker
from modelis import engine, Tevas, Vaikas

session = sessionmaker(bind=engine)()

In [2]:
naujas_tevas=Tevas(vardas="Sergejus", pavarde="Vyras")
naujas_vaikas = Vaikas(
    vardas="Arina",
    pavarde="Mergaite",
    tevas=naujas_tevas,
    mokymo_istaiga="CodeAcademy",
)
session.add(naujas_tevas)
session.add(naujas_vaikas)
session.commit()

In [3]:
from pprint import pprint
vaikai = session.query(Vaikas).all()
pprint(vaikai)

[(1, Arina, Mergaite, (1, Sergejus, Vyras)),
 (2, Arina, Mergaite, (1, Sergejus, Vyras)),
 (3, Arina, Mergaite, (3, Sergejus, Vyras)),
 (4, Gudrus, Vaikis, (4, Rimtas, Vaikis)),
 (5, Gudra, Vaike, (4, Rimtas, Vaikis)),
 (6, Gudrus, Vaikis, (5, Rimtas, Vaikis)),
 (7, Gudra, Vaike, (5, Rimtas, Vaikis)),
 (8, Arina, Mergaite, (6, Sergejus, Vyras)),
 (9, Gudrus, Vaikis, (7, Rimtas, Vaikis)),
 (10, Gudra, Vaike, (7, Rimtas, Vaikis)),
 (11, Arina, Mergaite, (8, Sergejus, Vyras)),
 (12, Arina, Mergaite, (9, Sergejus, Vyras))]

In [4]:
vaikai[1].tevas = session.query(Tevas).get(1)
# session.commit()
vaikai

[(1, Arina, Mergaite, (1, Sergejus, Vyras)),
 (2, Arina, Mergaite, (1, Sergejus, Vyras)),
 (3, Arina, Mergaite, (3, Sergejus, Vyras)),
 (4, Gudrus, Vaikis, (4, Rimtas, Vaikis)),
 (5, Gudra, Vaike, (4, Rimtas, Vaikis)),
 (6, Gudrus, Vaikis, (5, Rimtas, Vaikis)),
 (7, Gudra, Vaike, (5, Rimtas, Vaikis)),
 (8, Arina, Mergaite, (6, Sergejus, Vyras))]

In [5]:
tevas=session.query(Tevas).get(1)
tevas

(1, Sergejus, Vyras)

In [4]:
sunelis = Vaikas(vardas="Gudrus", pavarde="Vaikis")
dukra = Vaikas(vardas="Gudra", pavarde="Vaike")
tevas=Tevas(vardas="Rimtas", pavarde="Vaikis")
tevas.vaikai.append(sunelis)
tevas.vaikai.append(dukra)
session.add(tevas)
session.commit()

In [7]:
tevas=session.query(Tevas).get(1)
tevas.vaikai

[(1, Arina, Mergaite, (1, Sergejus, Vyras)),
 (2, Arina, Mergaite, (1, Sergejus, Vyras))]

In [8]:
tevai=session.query(Tevas).all()
for tevas in tevai:
    print('tevas: ', tevas, "\nvaikai: ")
    pprint(tevas.vaikai)

tevas:  (1, Sergejus, Vyras)
vaikai:
[(1, Arina, Mergaite, (1, Sergejus, Vyras)),
 (2, Arina, Mergaite, (1, Sergejus, Vyras))]
tevas:  (2, Sergejus, Vyras)
vaikai:
[]
tevas:  (3, Sergejus, Vyras)
vaikai:
[(3, Arina, Mergaite, (3, Sergejus, Vyras))]
tevas:  (4, Rimtas, Vaikis)
vaikai:
[(4, Gudrus, Vaikis, (4, Rimtas, Vaikis)),
 (5, Gudra, Vaike, (4, Rimtas, Vaikis))]
tevas:  (5, Rimtas, Vaikis)
vaikai:
[(6, Gudrus, Vaikis, (5, Rimtas, Vaikis)),
 (7, Gudra, Vaike, (5, Rimtas, Vaikis))]
tevas:  (6, Sergejus, Vyras)
vaikai:
[(8, Arina, Mergaite, (6, Sergejus, Vyras))]
tevas:  (7, Rimtas, Vaikis)
vaikai:
[(9, Gudrus, Vaikis, (7, Rimtas, Vaikis)),
 (10, Gudra, Vaike, (7, Rimtas, Vaikis))]

In [9]:
tevas.vaikai[0].vardas

'Gudrus'

In [10]:
#pakeisti
tevas.vaikai[0].vardas = 'Gudri'
tevas.vaikai

[(9, Gudri, Vaikis, (7, Rimtas, Vaikis)),
 (10, Gudra, Vaike, (7, Rimtas, Vaikis))]

In [11]:
#istrinti
trinamas=tevas.vaikai.pop()
trinamas

(10, Gudra, Vaike, None)

In [12]:
vaikai=session.query(Vaikas).all()
vaikai

[(1, Arina, Mergaite, (1, Sergejus, Vyras)),
 (2, Arina, Mergaite, (1, Sergejus, Vyras)),
 (3, Arina, Mergaite, (3, Sergejus, Vyras)),
 (4, Gudrus, Vaikis, (4, Rimtas, Vaikis)),
 (5, Gudra, Vaike, (4, Rimtas, Vaikis)),
 (6, Gudrus, Vaikis, (5, Rimtas, Vaikis)),
 (7, Gudra, Vaike, (5, Rimtas, Vaikis)),
 (8, Arina, Mergaite, (6, Sergejus, Vyras)),
 (9, Gudri, Vaikis, (7, Rimtas, Vaikis)),
 (10, Gudra, Vaike, None)]

In [13]:
print(tevas)

(7, Rimtas, Vaikis)

In [14]:
print(vaikai)

[(1, Arina, Mergaite, (1, Sergejus, Vyras)), (2, Arina, Mergaite, (1, Sergejus, Vyras)), (3, Arina, Mergaite, (3, Sergejus, Vyras)), (4, Gudrus, Vaikis, (4, Rimtas, Vaikis)), (5, Gudra, Vaike, (4, Rimtas, Vaikis)), (6, Gudrus, Vaikis, (5, Rimtas, Vaikis)), (7, Gudra, Vaike, (5, Rimtas, Vaikis)), (8, Arina, Mergaite, (6, Sergejus, Vyras)), (9, Gudri, Vaikis, (7, Rimtas, Vaikis)), (10, Gudra, Vaike, None)]

In [15]:
tevas.vaikai.append(vaikai[1])
tevas.vaikai.append(vaikai[2])

In [16]:
pprint(tevas.vaikai)

[(9, Gudri, Vaikis, (7, Rimtas, Vaikis)),
 (2, Arina, Mergaite, (7, Rimtas, Vaikis)),
 (3, Arina, Mergaite, (7, Rimtas, Vaikis))]

In [17]:
# tevas.vaikai.remove(vaikai[1])
# tevas

In [5]:
from crud import update_object, delete_object

In [6]:
update_object(Tevas, 2, vardas="Rimtesnis")

(2, Rimtesnis, Vyras)

In [10]:
tevelis = session.query(Tevas).get(2)
tevelis

(2, Rimtesnis, Vyras)

In [12]:
tevelis = session.query(Tevas).filter(Tevas.vardas.ilike("R%")).all()
tevelis

[(2, Rimtesnis, Vyras),
 (4, Rimtas, Vaikis),
 (5, Rimtas, Vaikis),
 (7, Rimtas, Vaikis),
 (10, Rimtas, Vaikis)]